/BackupAddIn/bin
/BackupAddIn/obj
/BackupAddIn/publish

/BackupExecutor/bin
/BackupExecutor/obj

/CustomAction/bin
/CustomAction/obj

/WixSetup/bin
/WixSetup/obj

/Setup/Setup
*.suo
/.vs/